.caramelo {
     font-size: 2.4rem;
     font-family: 'Fredoka One', sans-serif;
     color: #4FED2A; /*verde*/
     line-height: 2.4rem;
}

.caramelos {
      background-color: #fcf000;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      color: #000000;
}


.encabezado span {
     font-size: 3.8rem;
     font-family: 'Fredoka One', sans-serif;
     color: #4FED2A;
}

/** Sociales **/
.sociales ul {
     list-style: none;
     margin:0;
     padding:0;
 }
 .sociales ul li {
     position: relative;
     display: inline-block;
 }
 .sociales ul li a::before {
     font-family: 'FontAwesome';
     display: inline-block;
     vertical-align: top;
     padding: 0.4rem;
     content: '\f08e';
     -webkit-font-smoothing: antialiased;
     font-size: 2rem;
     color: #2AACED;
 }
 .sociales ul li a[href*="facebook.com"]::before{
     content: '\f230';
 }
 .sociales ul li a[href*="twitter.com"]::before{
     content: '\f081';
 }
 .sociales ul li a[href*="instagram.com"]::before{
     content: '\f16d';
 }
 .sociales ul li a[href*="pinterest.com"]::before{
     content: '\f0d2';
 }
 .sociales ul li a[href*="youtube.com"]::before{
     content: '\f16a';
 }

 /** NAVEGACION **/

 .logox {
      margin-top: -40px;
      margin-bottom: -50px;
 }

 



 .navegacion {
      background-color: #2AACED;
 }
 .navbar-light .navbar-toggler{
      background-color: #ffffff;
 }
 .navbar-light .navbar-brand,
 .navbar-light .navbar-brand:hover {
      color: #ffffff;
 }

 .nav-principal {
      background-image: url(../img/border_horizontal.png),
                         url(../img/border_horizontal.png);
     background-repeat: repeat-x;
     background-position: 0px top, 0px bottom;
 }


 .nav-link {
      color: #ffffff;
      font-size: 1.4rem;
      transition: all .5s ease-in-out;
      font-family: 'Fredoka One', sans-serif;
 }

 .happy{
      color: #ffffff;
      font-size: 1.4rem;
      transition: all .5s ease-in-out;
      font-family: 'Fredoka One', sans-serif;
 }

 .nav-link:hover {
      background-color: #bde8dd;
      color: #0DE831;
      border-radius: 15px;
 }

 .dropdown-menu {
      background-color: #2AACED;
 }

 .dropdown-item {
      color: #ffffff;
      font-size: 1.4rem;
      transition: all .5s ease-in-out;
      font-family: 'Fredoka One', sans-serif;
      text-align: center;
      padding-top: 0;
 }

 .dropdown-item:hover {
      background-color: #bde8dd;
      color: #0DE831;
      border-radius: 15px;

 }

 /* CAROUSEL**/


.carousel2{
    width: auto; 
    border: 5px solid;
    border-color: #2AACED;
}

 .carousel-caption h3 {
     font-family: 'Luckiest Guy', sans-serif;
     font-size: 3rem;
     font-weight: 900;
     color: #ffffff;

 }

 .titulohappy {
      color: white;
      text-shadow: 2px 2px #001804;
      font-size: 57px;
      padding-bottom: 15px;
 }

 .tituloslider{
    font-family: 'Merienda', sans-serif;
    color: white;
    font-size: 35px;
    text-shadow: 2px 2px #001804;
    padding-bottom: 155px;
}





@media (min-width:768px) and (max-width: 991px){

    .titulohappy {
      color: white;
      text-shadow: 2px 2px #001804;
      font-size: 30px;
      padding-bottom: 0px;
 }

     .tituloslider{
        font-family: 'Merienda', sans-serif;
        color: white;
        font-size: 20px;
        text-shadow: 2px 2px #001804;
        padding-bottom: 100px;
}
}


@media (min-width:992px) and (max-width: 1200px){

    .titulohappy {
      color: white;
      text-shadow: 2px 2px #001804;
      font-size: 50px;
      padding-bottom: 0px;
 }

     .tituloslider{
        font-family: 'Merienda', sans-serif;
        color: white;
        font-size: 30px;
        text-shadow: 2px 2px #001804;
        padding-bottom: 140px;
}
}


@media (max-width:767px) {

    .titulohappy {
      color: white;
      text-shadow: 2px 2px #001804;
      font-size: 20px;
      padding-bottom: 0px;
 }

     .tituloslider{
        font-family: 'Merienda', sans-serif;
        color: white;
        font-size: 12px;
        text-shadow: 2px 2px #001804;
        padding-bottom: 50px;
}
}





body {
      background-color: #fcf000;      
}

.fondo{
      background-image: url(../img/globos.png);
      background-color: #2AACED;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: scroll;

}

.intro{
      font-size: 45px;
      text-align: center;
      color: #ffffff;
      text-shadow: none;
}

@media (max-width: 992px){
      .intro{
      font-size: 20px;
      text-align: center;
      color: #ffffff;
      text-shadow: none;
}
}

.fiestas{
      background-image: url(../editar/dulces2.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: scroll;
      color: #000000;
      padding-top: 25px;
      padding-bottom: 40px;
}

/* Nosotros*/

.seccion{
      background-image: url(../editar/dulces3.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: scroll;
      color: #000000;
      padding-top: 25px;
      padding-bottom: 40px;
}

h1{
    font-family: 'Fredoka One', sans-serif;
    color: #0DE831;
    font-size: 65px;
    text-shadow: 2px 2px #001804;

}

h2 {
    font-family: 'Fredoka One', sans-serif;
    color: #0DE831;
    font-size: 70px;
    text-shadow: 2px 2px #001804;
}



 h3{
    font-family: 'Fredoka One', sans-serif;
    color: #0DE831;
    font-size: 35px;
    text-shadow: 2px 2px #001804;

 }

@media (max-width: 576px){

  h1{
    font-family: 'Fredoka One', sans-serif;
    color: #0DE831;
    font-size: 60px;
    text-shadow: 2px 2px #001804;

}

h2 {
    font-family: 'Fredoka One', sans-serif;
    color: #0DE831;
    font-size: 55px;
    text-shadow: 2px 2px #001804;
}



 h3{
    font-family: 'Fredoka One', sans-serif;
    color: #0DE831;
    font-size: 25px;
    text-shadow: 2px 2px #001804;

 }
 }

.seccion {
    font-family: 'Merienda', sans-serif;
}

.seccion p{
    font-family: 'Merienda', sans-serif;
    font-size: 25px;
}

 /** Nuevo sitio **/

 .nuevo-sitio p {
     font-family: 'Merienda', sans-serif;
     font-size: 1.7rem;
 }

 /** Servicios **/

 .fiestas h2 {
      font-size: 35px;
 }

.fiestas2 h2 {
      font-size: 35px;
 }

 .fiestas a {
      font-size: 20px;
      text-align: center;
  }

.fiestas2 a {
      font-size: 20px;
      text-align: center;
  }

 .imagen-servicio img {
      border: 6px solid #ffffff;
      -webkit-transition: transform .3s ease;
      -ms-transition: transform .3s ease;
      transition: transform .3s ease;
 }

 .servicio-info {
      background-color: #ffffff;
      margin-top: -5rem;
 }
 .servicio-info .btn-primary {
      border-radius: 0;
      background-color: #2AACED;
      border: none;
 }

 /** Citas **/
 .citas {
      background-image: url(../editar/globos.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      color: #000000;
 }

 @media (min-width: 250px) {
      .citas {
          background-size: cover;
      }
 }

 .citas h3 {
      font-size: 2.7rem;
      font-family: 'Fredoka One', sans-serif;
 }

 .citas p {
      font-size: 1.7rem;
      line-height: 2.6rem;
      font-family: 'Merienda', sans-serif;
 }

 .citas span{
      font-size: 1.2rem;
      line-height: 2.6rem;
      font-family: 'Merienda', sans-serif;
 }

.btn-primary {
      background-color: #2AACED;
      border: 0;
      padding: 1rem 5rem;
      border-radius: 0;
      font-family: 'Lato', sans-serif;
      font-size: 1.2rem;
 }
 .btn-primary:hover {
    background-color: #0DE831;
 }
 /* footer */
 .copyright {
      color:#979797;
      font-size: .8rem;
 }

  /** Hero **/
 .hero {
      position: relative;
 }
 .hero h2 {
      position: absolute;
      bottom: 2rem;
      right: 0;
      background-color: #8ed3cc;
      font-family: 'Raleway', sans-serif;
      font-weight: 900;
      color: #ffffff;
      font-size: 2.8rem;
}

.contenido-principal p {
     font-size: 1.2rem;
     line-height: 2.2rem;
     font-family: 'Lato', sans-serif;
}
/** SIDEBAR **/

aside {
     background-color: #2AACED;
     color: #ffffff;
}

/** Accordion / Servicios **/

.card p {
      font-size: 25px;
 }

#servicios .card-header {
     background-color: #2AACED;
     padding: 0 10px;
}

#servicios .card-header .btn-link {
     color: #ffffff;
     font-family: 'Fredoka One', sans-serif;
     font-size: 1.2rem;
     text-decoration: none;
}

#servicios .card-header .btn-link:hover {
     color: #0DE831;
     font-family: 'Fredoka One', sans-serif;
     font-size: 1.4rem;
     text-decoration: none;
}

#servicios .card-body {
     font-size: 1.3rem;
}

@media (max-width: 700px) {
    #servicios .card-header .btn-link {
     color: #ffffff;
     font-family: 'Fredoka One', sans-serif;
     font-size: 0.75rem;
     text-decoration: none;
}

    #servicios .card-header .btn-link:hover {
     color: #0DE831;
     font-family: 'Fredoka One', sans-serif;
     font-size: 0.75rem;
     text-decoration: none;
}
}

/* cupon*/
.cupon {
     border: 3px dashed #ffffff;
     font-family: 'Lato', sans-serif;
}
.cupon .display-4 {
     font-size: 2rem;
}
.cupon p {
     font-size: 1.2rem;
}

/* PRODUCTOS **/

@media (min-width: 576px) {
     .card-columns {
          -webkit-column-count: 2;
          -moz-column-count: 2;
          column-count: 2;
          -webkit-column-gap: 1.25rem;
          -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
      }
}
@media (min-width: 992px) {
     .card-columns {
          -webkit-column-count: 4;
          -moz-column-count: 4;
          column-count: 4;
      }
}

/** Contacto **/
.formulario-contacto {
    border: 2px solid #9a9a9a;
    background-color: #ffffff;
}

/*fest*/

.fest {
    padding-bottom: 40px;
}

.fest p {
    font-family: 'Merienda', sans-serif;
    font-size: 1.2rem;
    line-height: 2.5rem;

}

.candy {
    margin-left: 20px;
    padding-bottom: 40px;
}

 @media (min-width: 992px) {
    .candy {
    margin-left: 20px;
    padding-bottom: 40px;
    padding-top: 15px;

 }
 }




.acordeon{
      background-image: url(../editar/candy.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      color: #000000;  
}

.acordeon p{
      text-align: justify;
      font-family: 'Merienda', sans-serif;
      font-size: 25px;
      text-decoration: none;
}


/*aside*/

/*.sidebar{
      background-image: url(../editar/sale.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: scroll;
      color: #000000;
      width: 100%;
      height: 100%;
}

*/


/*footer*/

.final{
      background-image: url(../editar/footer/footer2.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: scroll;
      color: #000000;
}      


/*galeria*/



#demo {
  height:100%;
  position:relative;
  overflow:hidden;
}


.green{
  background-color:#6fb936;
}
        .thumb{
            margin-bottom: 20px;
        }
        
        .page-top{
            margin-top:150px;
        }

   
img.zoom {
    width: 250px;
    height: 200px;
    
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
        
 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
    .modal-header {
   
     border-bottom: none;
}
    .modal-title {
        color:#000;
    }
    .modal-footer{
      display:none;  
    }



/*formulario*/

.formulariox {
      font-family: 'Merienda', sans-serif;
    }

h4 {
    font-family: 'Fredoka One', sans-serif;
    color: white;
    font-size: 35px;
    text-shadow: 2px 2px #001804;
}

.tituloh4 {
    font-family: 'Fredoka One', sans-serif;
    color: white;
    font-size: 70px;
    text-shadow: 2px 2px #001804;
    padding-top: 100px;
}

